/* body {
    height: 100vh;
    background-image: url("../img/0.jpg");
    background-image: no-repeat;
    background-size: cover;
} */

.hidden {
    display: none;
}

.weather_style {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color:whitesmoke;
}

.clock_style {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 300px;
    color: whitesmoke;
    text-align: center;
    text-shadow: -1px -1px 0 rgb(80, 80, 80), 1px -1px 0 rgb(80, 80, 80), -1px 1px 0 rgb(80, 80, 80), 1px 1px 0 rgb(80, 80, 80);
}

.footer {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    text-shadow: -1px -1px 0 rgb(80, 80, 80), 1px -1px 0 rgb(80, 80, 80), -1px 1px 0 rgb(80, 80, 80), 1px 1px 0 rgb(80, 80, 80);
}